<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bartenders' Toolkit</title>
</head>
<body>
<h1>Welcome to Bartenders' Toolkit!</h1>
<a th:href="@{/register}"><button>Register</button></a>
<a th:href="@{/login}"><button>Sign in</button></a>
<a action="/logout/{userId}" th:action="@{/logout/${userId}}" method="post"><button>Sign out</button></a>
<a th:href="@{/tools/tipscalculator}"><button>Tips Calculator</button></a>

<p
        th:if="${userSuccess != null && userSuccess}"
        th:text="|New user ${userName} has been registered!|"
></p>

<p
        th:if="${userSuccess != null && ! userSuccess}"
        th:text="'New user failed to register!'"
></p>

<p
        th:if="${login != null && login}"
        th:text="|You are logged in as ${userName}!|"
></p>

<p
        th:if="${login != null && ! login}"
        th:text="'Failed to login!'"
></p>

<p
        th:if="${logout}"
        th:text="|${userName} logged out.|"
></p>

</body>
</html>